<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="login-form">
        <form action="/" method="POST" class="login">
            <p class="control-login">
                <input type="text" name="user" placeholder="Nombre de usuario" required>
            </p>
            <p class="control-login">
                <input type="password" name="password" placeholder="Elegí tu contraseña" required>
            </p>
            <p class="control-login">
                <button type="submit" class="boton">Enviar</button>
            </p>
        </form>
    </div>
</body>
</html>