<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <form action="/register" method="post" class="registro">
        <p class="control-registro">
            <input type="text" name="Nombre y Apellido" placeholder="Nombre y apellido">
        </p>
        <p class="control-registro">
            <input type="text" name="Nombre de usuari@" placeholder="Nombre de usuario">
        </p>
        <p class="control-registro">
            <input type="email" name="E-mail" placeholder="E-mail">
        </p>
        <p class="control-registro">
            <label>Fecha de nacimiento</label>
            <input type="date" name="Fecha de nacimiento">
        </p>
        <p class="control-registro">
            <input type="text" name="Domicilio" placeholder="Domicilio">
        </p>
        <p class="control-registro">
            <label>Perfil de usuario</label>
        </p>
        <p class="control-registro">
            <label>Comprador</label>
            <input type="radio" name="medio" value="Comprador">
        </p>
        <p class="control-registro">
            <label>Vendedor</label>
            <input type="radio" name="medio" value="Vendedor">
        </p>
        <p class="control-registro">
            <label>Categorías de interés</label>
        </p>
        <p class="control-registro">
            <label>Electro</label>
            <input type="checkbox" name="interes" value="Electro">
        </p>
        <p class="control-registro">
            <label>Moda</label>
            <input type="checkbox" name="interes" value="Moda">
        </p>
        <p class="control-registro">
            <label>Hogar</label>
            <input type="checkbox" name="interes" value="Hogar">
        </p>
        <p class="control-registro">
            <label>Juguetería</label>
            <input type="checkbox" name="interes" value="Juguetería">
        </p>
        <p class="control-registro">
            <label>Vida sana</label>
            <input type="checkbox" name="interes" value="Vida sana">
        </p>
        <p class="control-registro">
            <label>Foto de usuario</label>
            <input type="file" name="avatar" accept=".jpg">
        </p>
        <p class="control-registro">
            <label>Contraseña</label>
            <input type="password" name="Contraseña">
        </p>
        <p class="control-registro">
            <label>Confirmar contraseña</label>
            <input type="password" name="Contraseña">
        </p>
        <p class="control-registro">
            <button type="submit" class="boton">Enviar</button>
        </p>
        <p class="control-registro">
            <button type="reset" class="boton">Borrar</button>
        </p>
    </form>
</body>
</html>