<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <p>
            <label>Nombre y Apellido</label>
            <input type="text" name="Nombre y Apellido">
        </p>
        <p>
            <label>Nombre de usuari@</label>
            <input type="text" name="Nombre de usuari@">
        </p>
        <p>
            <label>Fecha de nacimiento</label>
            <input type="date" name="Fecha de nacimiento">
        </p>
        <p>
            <label>Domicilio</label>
            <input type="text" name="Domicilio">
        </p>
        <p>
            <label>Perfil de usuario</label>
        </p>
        <p>
            <label>Comprar</label>
            <input type="radio" name="medio" value="Comprar">
        </p>
        <p>
            <label>Vender</label>
            <input type="radio" name="medio" value="Vender">
        </p>
        <p>
            <label>Categorías de interés</label>
        </p>
        <p>
            <label>Electro</label>
            <input type="checkbox" name="interes" value="Electro">
        </p>
        <p>
            <label>Moda</label>
            <input type="checkbox" name="interes" value="Moda">
        </p>
        <p>
            <label>Hogar</label>
            <input type="checkbox" name="interes" value="Hogar">
        </p>
        <p>
            <label>Juguetería</label>
            <input type="checkbox" name="interes" value="Juguetería">
        </p>
        <p>
            <label>Vida sana</label>
            <input type="checkbox" name="interes" value="Vida sana">
        </p>
        <p>
            <label>Foto de usuario</label>
            <input type="file" name="avatar" accept=".jpg">
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" name="Contraseña">
        </p>
        <p>
            <label>Confirmar contraseña</label>
            <input type="password" name="Contraseña">
        </p>
        <p>
            <button type="submit">Enviar</button>
        </p>
        <p>
            <button type="delete">Borrar</button>
        </p>
    </form>
</body>
</html>