*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color: #EAC926;
    padding: 20px;
}

header img{
    width: 50%;
    padding: 10px;
}

.busqueda{
    width: 50%;
}

p {
    font-size: 12px;
}

h3{
    font-size: 24px;
}


.precios{
    font-size: 18px;
    font-weight: normal;
    width: 30%;
}

.descuentos{
    width: 70%;
}

.ult-visita,
.ofertas{
    display: flex;
    flex-wrap: wrap;
}


.descuentos, .descripciones{
    font-size:16px;
    font-weight: normal;
}


.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color:#03264C;
    color:white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 0px;
    color: black;
}

footer{
    text-align: center;
}

footer i{
    color: #03264C;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.copyright{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.compras{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

main{
    text-align: center;
    width: 100%;
}

article{
    margin: 15px;
}

main section article i, .descuentos{
    color: #39b54a;
}

.caja{
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 15px 15px;
    text-align: left;
    background-color: white;
}

.descripciones{
    margin-top: 30px;
}


.registro{
    padding: 20px 15px;
}


.control-registro{
    margin-bottom: 15px;
    display: block;
}

.control-registro input{
    width: 100%;
    padding: 8px;
}


.boton{
    background-color: #03264C;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.login{
    padding: 20px 15px;
}

.control-login{
    text-align: center;
    margin-bottom: 15px;
}

.control-login label{
    margin-bottom: 5px;
    display: inline-block;
}

.control-login input{
    width: 75%;
    padding: 8px;
}

.control-login .boton:hover{
    background-color: #0022AA;
}

@media (min-width:361px){
    .descripciones{
        display: none;
    }
    header nav{
        display: none;
    }
    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width:769px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripciones{
        display:block;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        margin: 0 5px;
    }
    header .burger-menu{
        display: none;
    }
    .header1{
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    main section article{
        width: 45%;
    }
    /* hover footer */

    footer section i:hover{
        color: #39b54a; 
    }
    footer section{
        display: flex;
    }   
}

.precios .descuentos{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    margin: -32px 0 0 300px;
}


@media (min-width:1024px){
    main section article{
        width:20%;
    }
    main section article i{
        margin: -32px 0 0 150px;
    }
}